
@media (max-width: 1024px) {
    #game-container {
        width: 90%; /* Ajusta a largura para 90% da tela */
        height: 500px; /* Reduz a altura em telas menores */
    }
}

@media (max-width: 768px) {
    #game-container {
        width: 100%; /* Usa toda a largura da tela */
        height: 400px; /* Altura ajustada */
    }
}

*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    
    box-sizing: border-box;
}

#game-container {
    width: 90%; 
    height: 90vh; 
    max-width: 1100px; 
    max-height: 600px; 
    border: 2px solid black; 
    background-color: lightgray; 
    margin: 10vh auto; 
    position: relative; 
    overflow: hidden; 
    display: flex; 
    background-image: url(/img/tela2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;
}
 
#endScreen{
    display: none;
}

#clouds{
    width: 500px; 
    height: auto; 
    position: absolute; /
    top: calc(50% - 250px); 
    border: none; 
    z-index: 2; 
    animation: 20s linear infinite move-across;
}

@keyframes move-across {
    from {
        transform: translateX(100vw)
    }

    to {
        transform: translateX(-900px)
    }
}

#rock-meteor{
    width: 100px; /* Largura do botão */
    height: auto; /* Ajusta a altura proporcionalmente */
    position: absolute; /* Permite posicionar o botão livremente */
    top:50%; /* Centraliza verticalmente */
    left: 100%; /* Centraliza horizontalmente */
    transform: translate(-90%, -20%); /* Ajusta para o centro exato */
    border: none; /* Remove a borda padrão */
    z-index: 2; /* Garante que o botão fique acima de outros elementos */
}

#spiderman{
    position: absolute;
}

.web {
    position: absolute;
    background: white;
    color: red;
    font-size: 12px;
}

#ball-element{
    position: absolute;
    z-index: 2; /* Garante que o botão fique acima de outros elementos */

}

